@model CreateCarCommand
@{
    ViewData["Title"] = "CreateCar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Araç İşlemleri</h4>
            <p class="card-description"> Yeni Araç Ekle </p>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label for="exampleInputUsername1">Görsel</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Görsel" asp-for="ImageUrl">
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1">Fiyat</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Fiyat" asp-for="Price">
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1">Marka</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Marka" asp-for="Brand">
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1">Model</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Model" asp-for="Model">
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1">KM</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" placeholder="KM" asp-for="KM">
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1">Benzin Tipi</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Benzin Tipi" asp-for="FuelType">
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1">Vites Tipi</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Vites Tipi" asp-for="GearType">
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1">Motor Gücü</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Motor Gücü" asp-for="MotorPower">
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1">Kasa Tipi</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Kasa Tipi" asp-for="BodyType">
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1">Renk</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Renk" asp-for="Color">
                </div>
                <button type="submit" class="btn btn-primary mr-2">Ekle</button>
            </form>
        </div>
    </div>
</div>