﻿<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-category">Rent A Car Admin Panel</li>
        <li class="nav-item">
            <a class="nav-link" href="index.html">
                <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/CarList">
                <span class="icon-bg"><i class="fa fa-car" aria-hidden="true"></i></span>
                <span class="menu-title">Araçlar</span>
            </a>
        </li>
        </li>
       
        <li class="nav-item sidebar-user-actions">
            <div class="sidebar-user-menu">
                <a href="#" class="nav-link">
                    <i class="mdi mdi-settings menu-icon"></i>
                    <span class="menu-title">Ayarlar</span>
                </a>
            </div>
        </li>
        <li class="nav-item sidebar-user-actions">
            <div class="sidebar-user-menu">
                <a href="#" class="nav-link">
                    <i class="mdi mdi-logout menu-icon"></i>
                    <span class="menu-title"> Çıkış Yap</span>
                </a>
            </div>
        </li>
    </ul>
</nav>